<div class="container mt-5">
  <h1 class="textColor text-center">
    Work <span style="color: red">Experience</span>
  </h1>
  <div class="main-timeline mt-5">
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="month">2 Years</span>
            <span class="year">2015</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Substitude Teacher</h5>
        <p class="description">
          During these two years of 2015-2016 I was a substitue Mathematics from
          grade 9 to grade 12. I also taught Physical Science grade 10 and garde
          11 and also taught Natural Science grade 9.
        </p>
      </div>
    </div>
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="year">2021</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Student Assistant</h5>
        <p class="description">
          From January 2021 to December 2021 I worked as a Student Assistant at
          Tshwane Univeristy of Technology. My duties were to assist students
          with projects and lectures with lessons in their absentia. My others
          duties were to monitor the lab mentor students in some modules.
        </p>
      </div>
    </div>
    <div class="timeline">
      <div class="icon"></div>
      <div class="date-content">
        <div class="date-outer">
          <span class="date">
            <span class="year">2022</span>
          </span>
        </div>
      </div>
      <div class="timeline-content">
        <h5 class="title">Full Stack Intern</h5>
        <p class="description">
          During the 6 month period of the IT: Systems Support learnership
          programme at The Digital Academy my team and i created a mobile
          application called Jobberg. My main responsibilities on the
          project were working on the Frontend, the databases, and the project
          documentation using Angular, Bootstrap, PostgreSQL, and other agile
          dev tools
        </p>
      </div>
    </div>
  </div>
</div>
