.btn-primary {
    background-color: #003d5c;
    outline: #003d5c;
    border: #003D5C;
    border-radius: 15px;
}


button:hover
{
    background-color: white;
    color: #003D5C;
    border-color: #003D5C;
}

.intro {
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 51px;
    color: #002233;
}