<div class="container mt-5" id="project">
    <h1 class="text-center mt-5 textColor">Latest <span style="color: red;">Projects</span> </h1>
    <div class="row mt-5">
        <div class="col-sm-12 col-lg-4 text-center">
            <div class="card" style="width: auto;">
                <img src="../../../assets/Brownies-Home.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title textColor">Brownies Website</h5>
                    <p class="card-text">The application connects recruiters and candidates by allowing recruiters
                        to focus on culture-fit before technical skills.</p>
                    <button class="button" routerLink="http://simple-store-back-end.herokuapp.com/home">Visit
                        Site</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4 text-center">
            <div class="card" style="width: auto;">
                <img src="../../../assets/movieApp.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title textColor">The Movie Zone Website</h5>
                    <p class="card-text">The application connects recruiters and candidates by allowing recruiters
                        to focus on culture-fit before technical skills.</p>
                    <button class="button" ><a href="http://rene-port.herokuapp.com/"></a> Visit Site</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 text-center">
            <div class="card" style="width: auto;">
                <img src="../../../assets/JobBerg.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title textColor">JobBerg Website</h5>
                    <p class="card-text">The application connects recruiters and candidates by allowing recruiters
                        to focus on culture-fit before technical skills.</p>
                    <button class="button" href="https://jobbergfrontend.herokuapp.com/">Visit Site</button>
                </div>
            </div>
        </div>
    </div>
</div>