<div class="container mt-5">
    <p class="intro text-center">Qualification</p>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="card" style="height: auto; width: auto;">
            <h1 class="intro textColor text-center mt-5 card-header">Education</h1>
        
            <div class="card-body">
                <h2 class="text-center card-title mt-3">Diploma in Information Technology - Tshwane University of Technology
                    (January
                    2017 - Present)</h2>
        
        
                <p class="card-text text-cente mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam,
                    blanditiis
                    atque
                    id ab, a voluptatem tempore quae aliquid ipsa eum autem optio facilis at, neque omnis amet cupiditate! Totam
                    animi
                    veritatis sint culpa nihil aut facilis? Voluptates dolor, voluptatum officiis illum illo corporis obcaecati
                    suscipit
                    possimus! Molestiae, obcaecati! Rerum, eligendi possimus aliquam voluptas veniam soluta ex aperiam numquam
                    delectus</p>
            </div>
        
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="card" style="height: auto; width: auto;">

            <h1 class="intro textColor text-center mt-5 card-header">Experience</h1>
        
        
            <h2 class="text-center card-title mt-3">Learnership - Digital Academy(December 2021 - Present)</h2>
        
        
            <p class="card-text text-cente mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, blanditiis
                atque
                id ab, a voluptatem tempore quae aliquid ipsa eum autem optio facilis at, neque omnis amet cupiditate! Totam
                animi
                veritatis sint culpa nihil aut facilis? Voluptates dolor, voluptatum officiis illum illo corporis obcaecati
                suscipit
                possimus! Molestiae, obcaecati! Rerum, eligendi possimus aliquam voluptas veniam soluta ex aperiam numquam
                delectus
                accusamus nihil quidem nostrum id! Sunt saepe quia dolore unde laudantium odit nihil soluta ullam dolorem quo, a
                rerum. Iusto sunt quam saepe totam culpa tempora vitae quo consequatur rem, repellat eius aut minus voluptatum
                sapiente est, illo incidunt </p>
        
        </div>
        
      </div>
    </div>
  </div>





